body {
    background-color: #0CC0DF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    } 

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-logo {
    width: 375px;
}

#left-right-arrows {
    width: 70px;
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#game-proper {
    display: none;
    text-align: center;
    font-weight: bold;
}

#game-screen {
    display: none;  
    animation: color 8s ease infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

@keyframes color {
    0% {
        background-image: url(../images/Pastel\ Orange\ at\ the\ Sun.jpg);
    }
    20% {
        background-image: url(../images/Blurry\ Beach.jpg);
    }
    40% {
        background-image: url(../images/Kyoto.jpg);
    }
    60% {
        background-image: url(../images/The\ Strain.jpg);
    }
    80% {
        background-image: url(../images/Shrimpy.jpg);
    }
    100% {
        background-image: url(../images/Starfall.jpg);
    }
}


#dorayaki-start {
    width: 90px;
    margin-bottom: 10px;
}

#end-screen {
    display: none;
}

#doraemon-smiling {
    width: 100px;
}

#dorayaki-restart {
    width: 75px;
}

 

